{% include "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}


<div class="container-fluid">
    <div class="page-header">
        <h4>{{heading}}</h4>
    </div>

    <div class="col-md-6 ml-5">
    {{wtf.render_form(form)}}
    </div>

    <!-- When you have login form, then show the user a link to register -->
    {% if heading|lower =='login' %}
    <div class="col-md-4 mb-5 ml-5">
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
    {% endif %}
</div>

{% endblock %}

