{% extends 'base.html' %}


{% block header %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
{% endfor %}

<div class="container mt-3">
  <div class="row">
    <div class="col mt-2 mb-3">
      <img src="/static/img/create event.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="row">
      {% for concert in concerts %}
      <!--Create event 1 -->
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card mb-3">
          <img src={{concert.image}} class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{concert.name}}</h5>
            <p class="card-text">{{concert.description}} </p>
            <a href="{{url_for('concert.show', id=concert.id)}}" class="btn more-details">More Details</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Status:<span style="color:green"> {{concert.status}}</span></small>
          </div>
        </div>
      </div>
      {% endfor %}
    


  </div>
</div>
{% endblock %}