{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block header %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
{% endfor %}

<div class="container mt-3">
  <div class="row">
    <div class="col mt-2 mb-3">
      <img src="/static/img/create event.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="row">

    <form class="form" method="POST" enctype="multipart/form-data">
      {{form.csrf_token}}
      <div class="col-md-6 col-lg-8 etc">{{form.name(class="form-control col-md-6 col-lg-4", placeholder="E.g.
        NIKI")}}</div>
      <br>
      <div class="col-md-6 col-lg-4 etc">{{form.genre(class="form-control")}}</div>
      <br>
      <div class="col-md-8 col-lg-8 etc">{{form.datetime(class="form-control")}}</div>
      <br>  
      <div class="col-md-8 col-lg-8 etc">{{form.address(class="form-control", placeholder="E.g. 21 Kirby Avenue, West End")}}</div>
      <br>
      <div class="col-md-8 col-lg-8 etc">{{form.city(class="form-control")}}</div>
      <br>
      <div class="col-md-8 col-lg-8 etc">{{form.description(class="form-control", placeholder="Tell us about yourself or what you're performing")}}
      </div>
      <br>
      <div class="col-md-6 col-lg-4 etc">{{form.image(class="form-control")}}</div>
      <br>

      <div class="col-md-6 col-lg-4 etc">{{form.status(class="form-control", placeholder="status here")}}</div>
      <br>
      <div class="col-md-6 col-lg-4 etc">{{form.submit(class="btn btn-danger wrn-btn")}}</div>

    </form>
  </div>
</div>
{% endblock %}