{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}

{% block header %}

{{wtf.render_form(form)}}


        <div class="container mt-3">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="jumbotron">
                        <h1 class="step-num"><span style="color:burlywood">Step 1</span></h1>
                        <p>Enter artist name and select genre</p>
                        <hr class="my-6">
                    </div>
                </div>

    <form method="POST" action="/create">
      <div class="form-group">
        <div class="col-lg-6 col-md-8 col-sm-8 mb-3">
          <input type="name" class="form-control" placeholder="E.g. NIKI">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 p-0">
        <select class="form-control">
          <option>Select a genre</option>
          <option>Pop</option>
          <option>Country</option>
          <option>Jazz</option>
          <option>Rnb</option>
          <option>Rock</option>
          <option>Other...</option>
        </select>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <div class="jumbotron">
          <h1 class="step-num"><span style="color:burlywood">Step 2:</span></h1>
          <p>Select date and time + location</p>
          <hr class="my-6">
        </div>
      </div>

      <div class="row">
        <!--Date selector-->
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="input-group date" id="datepicker">
            <div class="input-group-append">
              <div class="input-group-text bg-white" style="border-radius:0px;">
                <div class="date-select">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Select Date">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4">
          <input class="form-control" type="text" id="datetime" placeholder="Time" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-6 col-md-8 col-sm-8 mt-3">
          <input type="name" class="form-control" placeholder="E.g. 21 Kirby Avenue, West End">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 mt-3">
        <select class="form-control">
          <option>Select a city</option>
          <option>Brisbane</option>
          <option>Sydney</option>
          <option>Melbourne</option>
          <option>Adelaide</option>
          <option>Perth</option>
        </select>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <div class="jumbotron">
          <h1 class="step-num"><span style="color:burlywood">Step 3:</span></h1>
          <p>Write a description</p>
          <hr class="my-6">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-8 col-md-8 col-sm-10">
          <textarea class="form-desc" placeholder="Tell us about yourself or what you're performing"
            rows="5"></textarea>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <div class="jumbotron">
          <h1 class="step-num"><span style="color:burlywood">Step 4:</span></h1>
          <p>Upload event picture</p>
          <hr class="my-6">
        </div>
      </div>

      <div class="mb-3">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <input class="form-file" type="file">
        </div>
      </div>
    </form>

    <div class="col-lg-3 col-md-3 col-sm-6 mt-4 mb-5">
      <a type="button" class="btn btn-danger wrn-btn">
        Create Event
      </a>
    </div>
  </div>

  {% endblock %}