{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-3">
      <img src={{concert.image}} class="concert-image" alt="...">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="jumbotron">
        <h3>Artist: <strong>{{concert.name}}</strong></h3>
        <hr class="my-6">
        <h3>Date: <strong>{{concert.datetime.strftime('%B %d, %Y @ %I:%M%p')}}</strong></h3>
        <hr class="my-6">
        <h3>Location: <strong>{{concert.address}}</strong></h3>
        <hr class="my-6">
        <h3>Status: <strong><span style="color:green">{{concert.status}}</span></strong></h3>
        <hr class="my-6">
        <h3 class="display-7">Description:</h3>
        <p>{{concert.description}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <a href="{{url_for('concert.update', id=concert.id)}}" class="btn">Edit Event</a>
  </div>
  <div class="row">
    <a href="{{url_for('concert.delete', id=concert.id)}}" class="btn">Delete Event</a>
  </div>

  <div class="jumbotron">
    <h1 class="ticket">Make a booking</h1>
    <hr class="my-6">
  </div>

   <!-- Row as padding -->
  <div class="row-padding">
    <div class="col-sm-12">
    </div>
  </div>

  <!-- Dropdown selection bar: quantity picker -->
  <h5 class="card-title"><b>Ticket quantity:</b></h5>
  <br>
    <input type="number" class="form-control" placeholder="Number of people" min="1">
  <br>

  <!-- Total price -->
  <h5 class="card-title"><b>Total price:</b></h5>
  <br>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (AUD)</span>
    <strong>total ticket price</strong>
  </li>
  <br>


  <!-- Submit button-->
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="text-center">
      <button class="btn btn-danger wrn-btn" data-bs-toggle="modal" data-bs-target="#confirm-booking">Confirm booking</button>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="confirm-booking" tabindex="-1" aria-labelledby="confirm-booking-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-booking-label">Yay! There's ticket's available!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <h3>Order Details</h3>
          <hr class="my-6">
          <p><strong>Event Name:</strong> {{concert.name}}</p>
          <p><strong>Date:</strong> {{concert.datetime.strftime('%B %d, %Y')}}</p>
          <p><strong>Time:</strong> {{concert.datetime.strftime('%I:%M%p')}} </p>
          <p><strong>Tickets:</strong> 2</p>
          <p><strong>Order ID:</strong> 016A50BAC</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href=# type="button" class="btn btn-success">Confirm Booking</a>
        </div>
      </div>
    </div>
  </div>                                


      <!-- comment section -->
      <div class="jumbotron">
        <h1 class="ticket">Comment Section</h1>
        <hr class="my-6">
      </div>

      <div class="">
        {{wtf.render_form(cmtform, "/concerts/{0}/comment".format(concert.id))}}
      </div>

        {% for comment in concert.comments %}
        <div class="col-md-12">
          <b>{{comment.user_name}}
            <span class="ml-2 text-muted">{{comment.created_at.strftime('%B %d, %Y @ %I:%M%p')}}</span>
          </b>
          <p>{{comment.text}}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

</div>

{% endblock %}